# Core Python packages
numpy
pandas
scikit-learn
pillow
scikit-image
matplotlib
seaborn
opencv-python
optuna
optuna-dashboard
tensorboard

# PyTorch ecosystem
torch
torchvision
torchaudio

# MedMNIST package
medmnist